<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  
  <appSettings file="user.config">
    <!-- Keys needed in user.config -->
    <!--<add key="StorageContainer"/>
    <add key="StorageConnectionString"/>
    <add key="StorageAccountName"/>-->
    <!--  -->
    <add key="folder" value="c:\temp\filetest" />
    <add key="interval" value="20000"/>
    <add key="logHelperFolder" value="c:\temp\log"/>
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <clear/>
        <add name="console" type="System.Diagnostics.ConsoleTraceListener"/>
        <add name="logger" type="FileSender.Logger, FileSender"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>