<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings file="user.config">
    <add key="folder" value="c:\temp\filetest" />
    <add key="interval" value="2000"/>
    <add key="StorageContainer" value="ederlan"/>
    <add key="StorageConnectionString" value="7JX3LlEZ9ngTNWwdMMhuJHRxga4Ld4kSOpOrz1Pc6ZXXmuHf4EB8stlFN6x6UOjoi+1nUHWAAL5XAeeyf5cH6w==" />
    <add key="StorageAccountName" value="ederlaniotstorage"/>
    <add key="DefaultPath" value="c:\temp\log"/>
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <clear/>
        <add name="console" type="System.Diagnostics.ConsoleTraceListener"/>
        <add name="logger" type="FileSender.Logger, FileSender"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>